<style media="screen">
    html {
        background-image: url("/fondo3.jpg");
        background-size: cover;
    }

</style>

<div class="uk-container uk-container-center uk-margin-top">

    <nav class="uk-navbar wall2">
        <a id="Bienvenido" href="/" class="uk-navbar-toggle uk-icon-paw uk-form-row"></a>
        <ul class="uk-navbar-nav uk-navbar-brand" id="ul_nav">
            <li>
                <a onclick="document.getElementById('id01').style.display='block'" style="width:auto; font-size:1em;">Login
                    <i class="uk-icon-star" style="font-size:1.2em;"></i>
                </a>
            </li>
            <li>
                <a onclick="document.getElementById('id02').style.display='block'" style="width:auto; font-size:1em;">Registrate<i class="uk-icon-sign-in" style="font-size:1.2em;"></i>
                </a>
            </li>
        </li>
        <li>
            <a href="/info">Conocenos</a>
        </li>

        <li>
            <a class="adoptar">Como Adoptar</a>
        </li>

        <li>
            <a href="#">Antes Aprende...</a>

        <li>
            <a href="#">Que necesito</a>
        </li>
        <li>
            <a href="#">Cuidados básicos</a>
        </li>

</nav>
<div class="uk-container uk-container-center perro">
    <img src="https://az480170.vo.msecnd.net/44e8f4df-a2c6-4d53-84f1-c1d6e0db0654/img/prd/5b5be8b4-f645-46b8-95d5-c47c7d5d3873/dog.png" alt="avatar">
</div>
</div>

<div id="id01" class="modal">

<form class="modal-content animate uk-panel uk-panel-box uk-form" action="/login" method="POST">
    <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="https://openclipart.org/image/2400px/svg_to_png/203766/dog.png" alt="Avatar" class="avatar">
    </div>

    <div class="container_form">
        <div class="uk-form-row uk-form-icon user_form">
            <i class="uk-icon-envelope"></i>
            <input class="email_login"placeholder="Email" type='text' name="user[email]" value=''></input>
        </div>

        <div class="uk-form-row uk-form-icon user_form">
            <i class="uk-icon-lock"></i>
            <input class="pass_login"placeholder="Contraseña" type='password' name="user[password]" value=''></input>
        </div>
        <div class="uk-form-row user_form_enviar">
            <a class="uk-form-row uk-button uk-button-primary uk-animation-scale-up boton_login" id="button" href="">Enviar</a>
        </div>
    </div>
</form>
</div>

<div id="id02" class="modal">

<form class="modal-content animate uk-panel uk-panel-box " >
    <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="http://www.pd4pic.com/images/baby-cat-icon-face-cartoon-cute-pet-smile-kitty.png" alt="Avatar" class="avatar">
    </div>

    <div class="container_form">
        <div class="uk-form-row uk-form-icon user_form">
            <i class="uk-icon-user"></i>
            <input class="nombre" placeholder="Nombre" type='text' name="user[name]" value=''></input>
        </div>

        <div class="uk-form-row uk-form-icon user_form">
            <i class="uk-icon-envelope"></i>
            <input class="email" placeholder="Email" type='text' name="user[email]" value=''></input>
        </div>

        <div class="uk-form-row uk-form-icon user_form">
            <i class="uk-icon-lock"></i>
            <input class="pass" placeholder="Contraseña" type='password' name="user[password]" value=''></input>
        </div>
        <div class="uk-form-row user_form_enviar">
            <input id="enviar" type='submit' class="uk-form-row uk-button uk-button-primary uk-animation-scale-up boton" value='Enviar'></input>
        </div>
    </div>
</form>
</div>

<div class="carrousel">
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css">

<!--Slider  -->
<section id="slider" class="container_slider">
    <ul class="slider-wrapper">
        <li class="current-slide">
            <img src="/imgcarrusel/log1.jpg" title="" alt="">
        </li>
        <li>
            <img src="/imgcarrusel/log2.jpg" title="" alt="">
        </li>

        <li>
            <img src="/imgcarrusel/log3.jpg" title="" alt="">
        </li>

        <li>
            <img src="http://1.bp.blogspot.com/-fP3XPlBxvzg/VDvttVCqFLI/AAAAAAAAAQM/dB51GntsSQM/s1600/Perro%2Bfeliz.jpg" title="" alt="">
        </li>
    </ul>
    <!-- Sombras -->
    <div class="slider-shadow"></div>

    <!-- Controles de Navegacion -->
    <ul id="control-buttons" class="control-buttons">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>
</div>

<div class="contenido">
</div>
