
<%@user = User.find_by(id: session[:user_id])%>
<div class="uk-container uk-container-center uk-margin-top">
    <h1 style="color:white">Bienvenido</h1>

    <form class="caja">
        <label class="profile">Usuario :
            <b><%=@user.name %></b>
        </label>
        <label class="profile">Email :
            <b><%= @user.email %></b>
        </label>
        <div></form>
    </div>
